*.pyc
*.mdb

.DS_Store

debug.log
error.log

ui/node_modules/
ui/desktop/node_modules/
ui/web/node_modules/
ui/mobile/node_modules/
ui/shared/node_modules/

ui/mobile/ios/build/
ui/mobile/ios/Pods/

ui/package-lock.json
ui/desktop/package-lock.json
ui/web/package-lock.json
ui/mobile/package-lock.json
ui/shared/package-lock.json

ui/desktop/dist/
